<!-- footer -->
    <footer id="footer">
        <div id="footer-top">
            <nav id="footer-menu">
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Github</a></li>
                </ul>

            </nav>
        </div>
        <div id="footer-bottom">
            <p>&copy;2022 Tüm Hakları Saklıdır.</p>
        </div>
    </footer>
<!-- footer end -->