<!-- footer -->
    <footer id="footer">
        <div id="footer-top">
            <nav id="footer-menu">
                <ul>
                    <li><a href="#">
                        <i class="fa-brands fa-facebook"></i>
                        Facebook
                    </a></li>
                    <li><a href="#">
                        <i class="fa-brands fa-twitter"></i>
                        Twitter
                    </a></li>
                    <li><a href="#">
                        <i class="fa-brands fa-instagram"></i>
                        Instagram
                    </a></li>
                    <li><a href="#">
                        <i class="fa-brands fa-github"></i>
                        Github</a></li>
                </ul>

            </nav>
        </div>
        <div id="footer-bottom">
            <p>&copy;2022 Tüm Hakları Saklıdır.</p>
        </div>
    </footer>
<!-- footer end -->