<header id="page-top">
    <!-- Logo Section -->
    <div id="logo">
        <h1>Delta <span>Software</span> </h1>
    </div>
    <!-- End Logo -->

    <!-- Nav -->
    <nav id="menu">
        <div class="nav-left">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Html</a></li>
                <li><a href="#">Css</a></li>
                <li><a href="#">Sql</a></li>
                <li><a href="#">Python</a></li>
            </ul>
        </div>
        <div class="nav-right">
            {% if user.is_authenticated %}
                <p>Welcome,
                <a href="{% url 'logout' %}" style="text-decoration: none; color:rgb(0,69,219);">{{ user.get_full_name|title }}</a>
                </p>
            {% else %}
                <ul>
                <li><a href="{% url 'register' %}">Üye Ol</a></li>
                <li><a href="{% url 'login' %}" class="btn-link">Giriş Yap</a></li>
                
            </ul>
            {% endif %}
            
        </div>
    </nav>
    <!-- End Nav -->
</header>