{% load static %}

<section id="lesson-content">
    <aside id="lesson-left">
        <ul>
            <li>1</li>
            <li>3</li>
            <li>3</li>
            <li>3</li>
            <li>3</li>
        </ul>
    </aside>
    
    <section id="lesson-right">
        <div class="l-box">
            <article class="textbox">
                <h1>Python</h1>
                <h2>Dersleri</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque aperiam corrupti maxime corporis, ullam suscipit blanditiis molestiae, dolores aspernatur eveniet iste, mollitia amet ducimus? Quod expedita doloremque tempore ullam! Reprehenderit!
                </p>
                <button class="btn">Daha Fazla</button>
            </article>
            <section class="imageBox">
                <img src="{% static 'lesson/img/python_banner.png' %}" alt="image" class="image">
            </section>
        </div>

        <div class="l-box">
            <article class="textbox">
                <h1>Python</h1>
                <h2>Dersleri</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque aperiam corrupti maxime corporis, ullam suscipit blanditiis molestiae, dolores aspernatur eveniet iste, mollitia amet ducimus? Quod expedita doloremque tempore ullam! Reprehenderit!
                </p>
                <button class="btn">Daha Fazla</button>
            </article>
            <section class="imageBox">
                <img src="{% static 'lesson/img/python_banner.png' %}" alt="image" class="image">
            </section>
        </div>
        <div class="l-box">
            <article class="textbox">
                <h1>Python</h1>
                <h2>Dersleri</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque aperiam corrupti maxime corporis, ullam suscipit blanditiis molestiae, dolores aspernatur eveniet iste, mollitia amet ducimus? Quod expedita doloremque tempore ullam! Reprehenderit!
                </p>
                <button class="btn">Daha Fazla</button>
            </article>
            <section class="imageBox">
                <img src="{% static 'lesson/img/python_banner.png' %}" alt="image" class="image">
            </section>
        </div>
    </section>
</section>