<section id="lesson-content">
    <aside id="lesson-left">
        <ul>
            <li><a href="#"><input type="radio" name="lesson"></a></li>
            <li><a href="#"><input type="radio" name="lesson"></a></li>
            <li><a href="#"><input type="radio" name="lesson"></a></li>
            <li><a href="#"><input type="radio" name="lesson"></a></li>
        </ul>    
    </aside>
    <section id="lesson-right">
        <article class="textbox">
            <h1>Html</h1>
            <h2>Dersleri</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis quos aut quo earum fugit voluptatibus eveniet rem aperiam, sit sunt saepe reprehenderit quod maxime debitis natus sapiente ipsa repudiandae corrupti.</p>
            <button class="btn">Daha Fazla</button>
        </article>

        <div class="imageBox">

        </div>
    </section>
</section>