@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,300;1,500&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size:16px;
    font-family: 'Poppins',sans-serif;
    font-weight: normal;
    color: #000;
    background-color: #fff;
}
/* Header Bölümü */
#page-top {
    padding:14px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-around;
}
/* Logo Bölümü */
#logo {
    flex:3;
    display: flex;
    align-items: center;
}
#logo > h1 {
    font-weight: 500;
}
/* Menu Bölümü */

#menu {
    flex:9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-left,.nav-right {
    padding:10px;
}
.nav-left{
    flex:6;
    text-align: center;
}
.nav-right {
    text-align: right;
    flex:3;
}

#menu ul {
    list-style-type: none;
}
#menu ul li {
    display: inline-block;
}
#menu ul li a{
    color:rgb(46, 46, 46);
    padding:6px 12px;
    font-size:1.1em;
    display: block;
    text-decoration: none;
    position: relative;
}
#menu .nav-right .btn-link {
    background-color: rgb(0,69,219);
    color:#fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0,0,0);
    transition: .3s;
}
#menu .nav-right .btn-link:hover {
    background-color: rgb(0, 52, 165);
}
#menu ul li a::after{
    content:'';
    position:absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left:0;
    transition: .3s ease-in-out;
    background-color: rgb(0,69,219);
}
#menu ul li a:hover {
    color:rgb(0,69,219);
}
#menu ul li a:hover::after {
    transform: scale(1);
    width: 100%;
}
/* Menu End */

/* Header End */

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:7px 14px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
#footer-top {
    padding:7px;
}
#footer-menu h2 {
    font-weight: 300;
    /* color:rgb(46, 46, 46); */
    text-align: center;
}
#footer-menu ul {
    list-style-type: none;
}
#footer-menu ul li {
    display: inline-block;
}
#footer-menu ul li a {
    text-decoration: none;
    color:rgb(46, 46, 46);
    display: block;
    margin-left:5px;
    padding:7px;
}