{% extends 'base.html' %}
{% load static %}
{% block title %}
    Dersler
{% endblock %}
{% block css_file_path %}
    <link rel="stylesheet" href="{% static 'lesson/css/app.style.css' %}">
{% endblock %}
{% block content %}
    {% include 'lesson/partials/_lesson_content.html' %}
{% endblock %}
{% if error_message %}
        <script>alert('Lütfen aktif olan oturumu kapatınız!');</script>
    {% endif %}
{% block js_path %}
    
    <script src="{% static 'lesson/js/app.js' %}"></script>
{% endblock %}